<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="styles.css">
    <link rel="icon" href="favicon-32x32.png" type="image/x-icon">
    <title>Cv</title>
</head>

<body>
    <header>
        <img src="https://sebasdev-portfolio.vercel.app/assets/IMG_20230813_190934632_BURST000_COVER-ahkYUUe4.jpg"
            alt="img" width="150px">
        <h1>Sebastian Galeano</h1>
        <div class="about-me-container">
            <h3>¡Sobre mi!</h3>
            <p class="green">Soy FullStack Developer, no tengo preferencia entre Front-end ni Back-end ya que me gusta
                programar y crear tanto como paginas web y API's y que interactuen entre si. Busco diariamente crecer
                como
                profesional y poder crear un sistema que ayude al planeta a ser mejor. Tambien me apasiona compartir mis
                conocimientos a nuevos desarrolladores.</p>
        </div>
    </header>
    <hr>
    <div class="info-container">
        <h2>Datos Personales</h2>
        <p class="green">Edad: 27 años <br>
            Direccion: Avellaneda, Buenos Aires
        </p>
        <p></p>
    </div>
    <hr>
    <div class="academy-container">
        <h2>Informacion Academica</h3>
            <h3>Secundario Completo</h3>
            <p>Cens 453</p>
            <h3>Argentina Programa 4.0 | 2022 - 2023</h3>
            <p>Cursos terminados:</p>
            <ul>
                <li>Front-end Developer | HTML/CSS/JAVASCRIPT</li>
                <li>Phyton Developer</li>
                <li>ReactJS Developer</li>
                <li>Ingles IT | B1</li>
            </ul>
            <h3>UTN FullStack Avanzado | 2023</h3>
            <p>Lenguajes Front-end: </p>
            <ul>
                <li>HTML | CSS | JAVASCRIPT</li>
                <li>ReactJS</li>
            </ul>
            <p>Lenguajes Back-end: </p>
            <ul>
                <li>NodeJs</li>
                <li>ExpressJs</li>
                <li>MongoDB</li>
            </ul>
    </div>
    <hr>
    <div class="work-container">
        <h2>Experiencia Laboral</h2>
        <h4>Barista - Cafe</h4>
        <p class="green">Soy barista en una cafeteria ubicada en Recoleta. Me ocupo de la apertura del local,
            organizacion del salon y
            atencion al cliente.</p>
        <h4>Freelancer</h4>
        <p class="green">Soy programador freelancer, me encuentro realizando proyectos personales programando paginas
            web. Tambien trabajo
            para emprendimientos que requieren una web de su marca.</p>
    </div>
    <hr>
    <div class="form-container">
        <h2>Contactame:</h3>
            <section>
                <form>
                    <label for="name">Nombre:
                        <input type="text" id="name" placeholder="Ingrese su nombre">
                    </label><br>
                    <label for="affair">Asunto:
                        <input type="text" id="affair" placeholder="Asunto del mensaje">
                    </label><br>
                    <label for="message">Mensaje:
                        <textarea id="message" cols="30" rows="10"></textarea>
                    </label>
                </form>
            </section>
            <hr>
    </div>
    <footer>
        <a href="https://github.com/SebastianGaleano20">Repositorio github</a><br>
        <a href="https://sebasdev-portfolio.vercel.app/">Portfolio Personal</a>
    </footer>
</body>

</html>