<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=REM:ital,wght@0,100..900;1,100..900&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap"
        rel="stylesheet">
    <title>PaintWars</title>
    <link rel="icon" href="icono.png" type="image/png">
    <script>
        //Conexion con socket.io y ejs 
        const INDEX_ID = '<%= indexId %>';
    </script>
</head>

<body>
    <h1>Paint Wars</h1>
    <p>
        ¡Desafia a tus amigos a ver quien dibuja mejor! <br>
    </p>
    <main>
        <div class="img-container">

            <h3>Desafio - Dibuje la siguiente imagen</h3><img id="randomImg" src="" alt="Imagen a dibujar">
        </div>
        <div class="canv-container">
            <canvas width="1000px" height="400px"></canvas>
        </div>
    </main>
    <footer>
        <p>Create by DraCode - Sebastian Galeano</p>
        <a target="_blank" href="https://github.com/SebastianGaleano20"><img
                src="https://github.githubassets.com/assets/GitHub-Mark-ea2971cee799.png" alt="GitRepo"></a>
        <a target="_blank" href="http://sebasdev-portfolio.vercel.app"><img src="logo.jpeg" alt="logo"></a>
    </footer>
    <script src="/socket.io/socket.io.js"></script>
    <script src="scripts.js"></script>
</body>

</html>