<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PaintWars</title>
</head>
<body>
    <h1>Paint Wars</h1>
    <p>Bienvenido! Desafia a tus amigos</p>
    <canvas></canvas>
    <script src="scripts.js"></script>
</body>
</html>