* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: monospace;
}
body {
  background-color: #0c0f01;
 color: #fafafa;
  text-align: center;
}
header {
  img {
    margin: 0.5em;
    border-radius: 50%;
  }
  p {
    margin: 1em;
    padding: 0.5rem;
  }
}
.green,
li {
  margin: 1em;
  color: #80ff60;
  font-size: 1.2rem;
  list-style: none;
  background-color: #0c0f01;
  border: 2px solid #80ff60;
  border-radius: 10px;
}
section {
  display: grid;
  grid-template-columns: 1fr;
}

footer{
  margin-top: 0.5em;
  display: flex;
  justify-content: center;
  align-items: center;
  p{
    font-size: 0.8rem;
    text-align: center;
    color: #80ff60;
  }
  a img{
    margin: 0.8em;
    border-radius: 50%;
    width: 50px;
    height: 50px;
  }
}

@media (min-width: 600px) {
  header{
    img{
      width: 200px;
      height: 200px;
    }
  }
  section{
    grid-template-columns: 1fr 1fr;
  }
}